<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="mainContainer" class="mainContainer">
        <h1>baldahint</h1>
        <div id="startGamePage" class="page" v-show="currentPage == 'start'">
            <button
                id="newGameButton"
                v-on:click="startNewGame"
                v-bind:disabled="!isConnectedToServer"
            >Start new game</button>
            <button
                id="loadGameButton"
                v-on:click="loadGame"
                v-bind:disabled="!isConnectedToServer || !savedGameExists"
            >Load game</button>
            <select
                id="profileCombobox"
                v-model="selectedProfile"
                v-bind:disabled="!isConnectedToServer"
            >
                <option v-for="p in profiles" v-bind:name="p">{{ p }}</option>
            </select>
            <p
                id="errorMessage"
                v-show="!isConnectedToServer"
            >{{ errorMessage }}</p>
        </div>
        <div id="gamePage" class="page" v-show="currentPage == 'game'">
            <div id="gameField">
                <div class="field">
                    <table class="fieldTable">
                        <tr v-for="i in game.field.size">
                            <td v-for="j in game.field.size">
                                <div
                                    class="fieldCell"
                                    v-bind:isSelected="isSelectedCell(i-1, j-1)"
                                    v-bind:isVariant="isVariantCell(i-1, j-1)"
                                    v-on:click="selectCell(i-1, j-1)"
                                >
                                    {{ getCellValue(i-1, j-1) }}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button
                        id="solveButton"
                        v-on:click="solve"
                        v-bind:disabled="waitingForServerResponse"
                    >Solve</button>
                </div>
            </div>
            <div id="usedWords">
                <word-list
                    id="usedWordsList"
                    title="Used words:"
                    v-bind:items="usedWordsList"
                    v-bind:header-buttons="usedWordsHeaderButtons"
                    v-bind:item-buttons="usedWordsItemButtons"
                    v-bind:item-formatter="wordItemFormatter"
                >
                </word-list>
            </div>
            <div id="solutionWords">
                <word-list
                    id="solutionWordsList"
                    ref="solutions"
                    title="Solutions:"
                    v-bind:items="solutionWords"
                    v-bind:header-buttons="[]"
                    v-bind:item-buttons="solutionWordsItemButtons"
                    v-bind:item-formatter="wordItemFormatter"
                    v-bind:item-selected-handler="solutionWordSelectionHandler"
                >
                </word-list>
            </div>
            <div id="solutionVariants">
                <word-list
                    id="solutionVariantsList"
                    ref="variants"
                    title="Variants:"
                    v-bind:items="solutionVariants"
                    v-bind:header-buttons="[]"
                    v-bind:item-buttons="solutionVariantsItemButtons"
                    v-bind:item-formatter="solutionItemFormatter"
                    v-bind:item-selected-handler="variantSelectionHandler"
                >
                </word-list>
            </div>
            <div id="footer">
                <p>{{ `Profile: ${selectedProfile} Progress: ${solutionProgress.toFixed(0) * 100}%` }}</p>
                <button
                    id="exitGameButton"
                    v-on:click="exitGame"
                >Save & Exit game</button>
            </div>
        </div>
    </div>

    <a id="license" href="http://www.wtfpl.net/">
        <img src="http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png" width="80" height="15" alt="WTFPL" />
    </a>
    <script src="node_modules/lodash-es/lodash.default.js" type="module"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/client/run.js" type="module"></script>
    <!-- <script src="bundle/client.js" type="module"></script> -->
</body>