<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>baldahint</h1>
    <div id="mainContainer" class="mainContainer">
        <div id="startGamePage" class="page" v-show="currentPage == 'start'">
            <button id="newGameButton" v-on:click="startNewGame">Start new game</button>
        </div>
        <div id="gamePage" class="page" v-show="currentPage == 'game'">
            <div id="gameField">
                <div class="field">
                    <table class="fieldTable">
                        <tr v-for="i in game.field.size">
                            <td v-for="j in game.field.size">
                                <div
                                    class="fieldCell"
                                    v-bind:isSelected="isSelectedCell(i-1, j-1)"
                                    v-bind:isVariant="isVariantCell(i-1, j-1)"
                                    v-on:click="selectCell(i-1, j-1)"
                                >
                                    {{ getCellValue(i-1, j-1) }}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button id="solveButton" v-on:click="solve">Solve</button>
                </div>
            </div>
            <div id="usedWords">
                <p>Used words:</p>
                <div id="usedWordsList" class="wordList">
                    <div
                        class="wordListItem"
                        v-for="i in usedWordsList.length"
                        @mouseover="hoveredIndexUsed = i"
                        @mouseleave="hoveredIndexUsed = -1"
                    >
                        {{ usedWordsList[i-1].toUpperCase() }}
                        <button
                            class="wordListItemButton"
                            v-show="hoveredIndexUsed == i"
                            v-on:click="addToWhitelist(usedWordsList[i-1])"
                        >➕</button>
                    </div>
                </div>
                <button v-on:click="addUsedWord">Add word</button>
            </div>
            <div id="solutionWords">
                <p>Solutions:</p>
                <div id="solutionWordsList" class="wordList">
                    <div
                        class="wordListItem"
                        v-for="i in solutionWords.length"
                        @mouseover="hoveredSolutionIndex = i"
                        @mouseleave="hoveredSolutionIndex = -1"
                        v-on:click="selectSolution(i-1)"
                        v-bind:isSelected="selectedSolutionIndex == i-1"
                    >
                        {{ `${solutionWords[i-1].toUpperCase()} ${solutionWords[i-1].length}` }}
                        <button
                            class="wordListItemButton"
                            v-show="hoveredSolutionIndex == i || selectedSolutionIndex == i-1"
                            v-on:click="addToBlacklist(solutionWords[i-1])"
                        >❌</button>
                    </div>
                </div>
            </div>
            <div id="solutionVariants">
                <p>Variants:</p>
                <div id="solutionVariantsList" class="wordList">
                    <div
                        class="wordListItem"
                        v-for="i in solutionVariants.length"
                        @mouseover="hoveredVariantIndex = i"
                        @mouseleave="hoveredVariantIndex = -1"
                        v-on:click="selectVariant(i-1)"
                        v-bind:isSelected="selectedVariantIndex == i-1"
                    >
                        {{ getSolutionVariantDescription(i-1) }}
                        <button
                            class="wordListItemButton"
                            v-show="hoveredVariantIndex == i || selectedVariantIndex == i-1"
                            v-on:click="applyVariant(i-1)"
                        >✔️</button>
                        <button
                            class="wordListItemButton"
                            v-show="hoveredVariantIndex == i || selectedVariantIndex == i-1"
                            v-on:click="getNextStepInfo(i-1)"
                        >❔</button>
                        <span id="nextStepHint" v-bind:title="getLongNextStepDescription(i-1)">
                            {{ getShortNextStepDescription(i-1) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a id="license" href="http://www.wtfpl.net/">
        <img src="http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png" width="80" height="15" alt="WTFPL" />
    </a>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/client/client.js" type="module"></script>
</body>