body {
    background: #161616
}

h1, p, b, span, div, td, th {
    color: white;
    font-family: 'Courier New';
}

button {
    color: white;
    background-color: transparent;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
}

button:hover {
    background-color: #444444;
}

button:disabled {
    background-color: transparent;
    border: 2px solid #444444;
    color: #444444;
}

select {
    min-height: 36px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}

select:hover {
    background-color: #444444;
}

.page {
    width: 100%;
    height: 100%;
}

.page,
.mainContainer {
    display: grid;
    grid-gap: 10px;
}

.fieldTable {
    border-spacing: 0px;
    border: 1px solid #aaaaaa;
}

.fieldCell {
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid #aaaaaa;
    background-color: transparent;
    font-family: 'Arial';
    font-style: bold;
    font-size: 30px;
    margin: 0px;
}

.fieldCell:hover {
    background-color: #666666;
}

.fieldCell[isSelected=true] {
    background-color: #444444;
}

.fieldCell[isVariant=true] {
    color: red;
}

.wordList
{
    height: 275px;
    width: 275px;
    overflow: auto;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
}

.wordListItem {
    height: 30px;
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    background-color: transparent;
}

.wordListItem:hover {
    background-color: #666666;
}

.wordListItem[isSelected=true] {
    background-color: #444444;
}

.wordListItemButton {
    width: 30px;
    height: 30px;
    float: right;
    padding: 0px;
    text-align: center;
}

.wordListItemButton:hover {
    background-color: #666666;
}

#gameField {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 50px;
}

#usedWords {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#solutionWords {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#solutionVariants {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#newGameButton,
#loadGameButton {
    width: 400px;
    height: 100px;
    margin-top: 8px;
    font-size: 40px;
}

#exitGameButton {
    width: 275px;
    height: 40px;
    margin: 8px;
    font-size: 26px;
}

#newGameButton {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#loadGameButton {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#profileCombobox {
    width: 400px;
    height: 30px;
    font-size: 24px;
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

#nextStepHint {
    font-size: 16px;
}

#solveButton {
    margin-top: 8px;
    width: 275px;
}

#license {
    bottom: 0%;
    position: fixed;
}